*{
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-left: 550px;
  margin-right: 550px;
  border: 3px solid rgb(50, 205, 60);
  border-radius: 30px;
  
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 40px;
}

.window{
  border: 3px solid white;
  border-radius: 50px;
  padding: 50px;
  padding-left: 180px;
  padding-right: 180px;
  margin-bottom: 20px;
}

.firstLevel{
  display: flex;
  flex-direction: row;
}

.secondLevel{
  display: flex;
  flex-direction: row;
}

.thirdLevel{
  display: flex;
  flex-direction: row;
}

.fourthLevel{
  display: flex;
  flex-direction: row;
}

.fifthLevel{
  display: flex;
  flex-direction: row;
}

.delete{
  display: flex;
  justify-content: center;
  padding: 20px;
  /* padding-left: 20px;
  padding-right: 20px; */
  background-color: grey;
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.negativeValue{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: grey;
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}


.percent{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: grey;
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.division{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: orange;
  border-radius: 40px;
  margin: 5px;
  font-weight: 900;
  font-size: xx-large;
}

.multiplication{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: orange;
  border-radius: 40px;
  margin: 5px;
  font-weight: 900;
  font-size: xx-large;
}

.minus{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: orange;
  border-radius: 40px;
  margin: 5px;
  font-weight: 900;
  font-size: xx-large;
}


.plus{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: orange;
  border-radius: 40px;
  margin: 5px;
  font-weight: 900;
  font-size: xx-large;
}

.equal{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: orange;
  border-radius: 40px;
  margin: 5px;
  font-weight: 900;
  font-size: xx-large;
}

.seven{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.eight{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.nine{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.four{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.five{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.six{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.one{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.two{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.three{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
}

.zero{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-right: 130px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
  
}

.comma{
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(58, 54, 54);
  border-radius: 40px;
  margin: 5px;
  font-size: xx-large;
  
}